@{
    ViewBag.Title = "Home Page";
}

<div class="tabbable tabs-left">
	<ul class="val-home-tabs nav nav-tabs">
		<li class="active">
			<a href="#tab1-home" data-toggle="tab">@ViewBag.Title</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="tab1-home" class="tab-pane active">
			<div class="row-fluid">
				<div class="span2">
					<div class="val-actionmenu btn-group">
						<button class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown">
							Action <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
						    @if (User.IsInRole("ConsoleAdmin"))
                            {
						        <li><a class="val-new-submission" href="#EN">EN Submission</a></li>
						        <li><a class="val-debug-submission-EN1" href="#EN">EN Submission - Debug 1</a></li>
						        <li><a class="val-debug-submission-EN2" href="#EN">EN Submission - Debug 2</a></li>
                                <li class="divider"></li>
						        <li><a class="val-new-submission" href="#PV">PV Submission</a></li>
						        <li><a class="val-debug-submission-PV1" href="#PV">PV Submission - Debug 1</a></li>
                                <li class="divider"></li>
              					<li><a class="val-new-submission" href="#FI">FI Submission</a></li>
						        <li><a class="val-debug-submission-FI1" href="#FI">FI Submission - Debug 1</a></li>
                                <li class="divider"></li>
                                <li><a class="val-new-submission" href="#CA">CA Submission</a></li>
                                <li><a class="val-debug-submission-CM" href="#CA">CA Submission - Debug 1</a></li>
                                <li class="divider"></li>
                                <li><a class="val-new-submission" href="#HM">HM Submission</a></li>
                                <li><a class="val-debug-submission-HM" href="#HM">CA Submission - Debug 1</a></li>
                                <li class="divider"></li>
                                <li><a class="val-new-submission" href="#ME">ME Submission</a></li>
                                <li><a class="val-debug-submission-ME" href="#ME">ME Submission</a></li>
                            }		
                            
                            @if (ViewBag.TeamMemberships != null && ViewBag.TeamMemberships.Count > 0)
                            {
                                foreach (var teamMembership in ViewBag.TeamMemberships)
							    {
                                    if (!string.IsNullOrEmpty(teamMembership.Team.SubmissionTypeId))
                                    {
	                                    <li>
		                                    <a class="val-new-submission" href="#@teamMembership.Team.SubmissionTypeId">
			                                    @teamMembership.Team.SubmissionTypeId Submission
		                                    </a>
	                                    </li>
                                    }
                                }
                            }
						    else
						    {
							    <li><i class="icon-exclamation-sign"></i> User not member of a Submission team</li>
						    }
						</ul>
					</div>
				</div>
				<div class="span9">
					<div class="val-search input-prepend input-append">
						<input type="text" class="val-searchterm val-clear-input input-xlarge" placeholder="Search" />
						<button class="val-searchbutton btn" type="button">
							<span class="val-searchlabel">Advanced </span><i class="icon-search"></i>
						</button>
						<a class="val-searchtoggle btn btn-link" href="#">
							Advanced Search On
						</a>
					</div>
				</div>
				<div class="span1">
				    <div>
				        <button class="btn btn-small val-minimize-all val-minimize" type="button"><i class="icon-resize-small"></i></button>
				        <button class="btn btn-small val-maximize-all val-maximize hide" type="button"><i class="icon-resize-full"></i></button>
				    </div>
				</div>
			</div>
		    <hr />
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
					    <div class="span8">
					        <div class="row-fluid">
					            <div class="span12">
					                @* TODO: Partial View to workflow tasks *@
					                <table class="val-workflowtasks-datatable table table-condensed table-bordered table-hover">
					                    <caption>
					                        <strong class="val-add-workflowtasks-tab">Workflow Tasks</strong>
					                        <div class="val-worklist-minimize val-minimize"><i class="icon-resize-small icon-white"></i></div>
					                        <div class="val-worklist-maximize val-maximize hide"><i class="icon-resize-full icon-white"></i></div>
					                        <div class="val-worklist-refresh val-refresh"><i class="icon-refresh icon-white"></i></div>
					                    </caption>
					                </table>
					            </div>
					        </div>
					        <div class="row-fluid">
					            <div class="span7">
					                @* TODO: Partial View to renewals *@
					                <table class="val-renewals-datatable table table-condensed table-bordered table-hover">
					                    <caption>
					                        <strong class="val-add-renewal-tab">Renewals</strong>
					                        <span>expiring in next <input type="text" value="30" /> days.</span>
					                        <div class="val-renewal-minimize val-minimize"><i class="icon-resize-small icon-white"></i></div>
					                        <div class="val-renewal-maximize val-maximize hide"><i class="icon-resize-full icon-white"></i></div>
					                        <div class="val-renewal-refresh val-refresh"><i class="icon-refresh icon-white"></i></div>
					                    </caption>
					                </table>
					            </div>
					            <div class="span5">
					                @* TODO: Partial View to quotes *@
					                <table class="val-recentquotes-datatable table table-condensed table-bordered table-hover">
					                    <caption>
					                        <strong class="val-add-submissions-detailed-tab">Recent Submissions</strong>
					                        <div class="val-submission-minimize val-minimize"><i class="icon-resize-small icon-white"></i></div>
					                        <div class="val-submission-maximize val-maximize hide"><i class="icon-resize-full icon-white"></i></div>
					                        <div class="val-submission-refresh val-refresh"><i class="icon-refresh icon-white"></i></div>
					                    </caption>
					                </table>
					            </div>

					        </div>
					        <div class="row-fluid">
					            <div class="span12">
					                <div class="val-caption">
					                    <strong>Search Results</strong>
					                    <div class="val-search-minimize val-minimize"><i class="icon-resize-small icon-white"></i></div>
					                    <div class="val-search-maximize val-maximize hide"><i class="icon-resize-full icon-white"></i></div>
					                    <div class="val-searching hide">Searching...</div>
					                </div>
					                <div class="row-fluid">
					                    <div class="val-search-results span12">
					                        <div class="val-padding">
					                            <span>No search term</span>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <br /> @* TODO: Remove all of these break lines and use CSS instead *@
					        <br />
					        <br />
					        <br />
                           
					    </div>

						<div class="span4 val-preview-pane-container">
							<div class="val-caption">
								<strong>Preview Pane</strong>
							    <div class="val-preview-minimize val-minimize"><i class="icon-resize-small icon-white"></i></div>
                                <div class="val-preview-maximize val-maximize hide"><i class="icon-resize-full icon-white"></i></div>
								<div class="val-processing hide">Processing...</div>
							</div>
							<div class="val-preview-pane">
								<div class="val-padding">
									<span>No preview loaded</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.tab-content -->
</div>
<!-- /.tabbable -->

<div class="val-worldcheck-detail-panel val-alert val-worldcheck-detail-modal modal hide"></div>