<div class="row-fluid">
    <div class="span12">
        <div class="input-prepend input-append">
            <input type="text" class="input-xlarge val-searchterm-renewals val-clear-input" placeholder="Search" />
            <button class="btn val-search-renewals" type="button">
                <i class="icon-search"></i>
            </button>
        </div>
    </div>
</div>

<div class="row-fluid">
<table class="val-renewals-detailed-datatable table table-condensed table-bordered table-hover" style='overflow:visible;height:30px'>
    <caption><strong>Renewals</strong></caption>
</table>
<br/>
<br />

</div>