<div class="row-fluid">
    <div class="span12">
        <div class="input-prepend input-append">
            <input type="text" class="input-xlarge val-searchterm-workflow val-clear-input" placeholder="Search" />
            <button class="btn val-search-workflow" type="button">
                <i class="icon-search"></i>
            </button>
        </div>
    </div>
</div>
<table class="val-workflowtasks-detailed-datatable table table-condensed table-bordered table-hover">
    <caption><strong>Workflow Tasks</strong></caption>
</table>