@model Validus.Models.Broker
<div class="val-padding">
    <div class="row-fluid">
        <div class="span12">
            <h5>
                <span>@Model.Name</span>
            </h5>
        </div>
    </div>
</div>