@model Validus.Models.OptionFI

<div class="row-fluid">
	<div class="span12">
		<div class="btn-group">
			<button class="btn btn-small" type="button" data-bind="click: AddOptionVersion, enable: CurrentVersion().IsLocked"
				title="Will be disabled until the current version has been quoted">New Version</button>
			<button class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" data-bind="foreach: OptionVersions">
				<li><a data-bind="text: Title, click: $parent.SetVersionIndex"></a></li>
			</ul>
		</div>
		<button class="btn btn-small" type="button" data-bind="click: CurrentVersion().AddQuote, enable: !CurrentVersion().IsLocked() && CurrentVersion().VersionNumber() === 0">
			New Quote
		</button>
		<button class="btn btn-small" type="button" data-bind="click: $parent.CopyOption, enable: CanCopyOption"
			title="Will be disabled until all Quotes in the current Option have all required fields completed">
			Copy Option
		</button>
        <div class="btn-group">
            <button class="btn btn-small" type="button" data-bind="text: RiskCodesButtonText(), click: OpenRiskCodesDialog"></button>
            <button class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a data-bind="click: CurrentVersion().ExpandFIQuotes">Expand quotes...</a></li>
			</ul>
         </div>
	</div>
</div>

<div class="modal hide fade val-riskcodes-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Option Risk Codes</h3>
    </div>
    <div class="modal-body" data-bind="foreach: RiskCodesArray">
        <input type="checkbox" data-bind="value: Code, checked: Selected" /><span data-bind="text: Name"></span><br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Done</button>
    </div>
</div>

<hr />

<div class="row-fluid">
	<div class="span12" data-bind="with: CurrentVersion">
        <div class="row-fluid">
            <div class="span12">
                <div data-bind="bootstrap-carousel: { data: Quotes, afterRender: $root.InitialisePane }">
			        <ol class="carousel-indicators">
				        <li data-bind="text: COBId(), css: { error: ValidationErrors().length > 0 }"></li>
			        </ol>
			        <div class="carousel-inner">
				        <div class="item">
					        @Html.Action("_QuoteTemplateFI", "Submission")
				        </div>
			        </div>
			        <a class="carousel-control left" href="#" data-slide="next">&lsaquo;</a>
			        <a class="carousel-control right" href="#" data-slide="prev">&rsaquo;</a>
		        </div>
            </div>
        </div>
	</div>
</div>