<table class="val-optioncomparison-datatable table table-condensed table-bordered table-hover">
    <caption>Quote Comparison</caption>
    <thead>
        <tr>
            <th style="width: 100px;"></th>
            <!-- ko foreach: Model.Options -->
            <th rowspan="1" data-bind="attr: { colspan: CurrentVersion().Quotes().length }, click: NavigateToOption">
                <span data-bind="text: VersionTitle"></span>
            </th>
            <!-- /ko -->
        </tr>

        <tr>
            <th style="width: 100px;">Quote Sheet?</th>
            <!-- ko foreach: Model.Options -->
            <th rowspan="1" data-bind="attr: { colspan: CurrentVersion().Quotes().length }">
                <input type="checkbox" data-bind="checked: AddToQuoteSheet, enable: EnableAddToQuoteSheet" />
            </th>
            <!-- /ko -->
        </tr>

        <tr>
            <th style="width: 100px;">Primary?</th>
            <!-- ko foreach: Model.Options -->
            <!-- ko foreach: CurrentVersion().Quotes -->
            <th rowspan="1" colspan="1">
                <input type="checkbox" title="Signifies whether or not the current quote is synchronised to Subscribe"
                    data-bind="checked: IsSubscribeMaster, enable: EnableSubscribeMaster" />
            </th>
            <!-- /ko -->
            <!-- /ko -->
        </tr>

        <tr>
            <th style="width: 100px;">Quotes</th>
            <!-- ko foreach: Model.Options -->
            <!-- ko foreach: CurrentVersion().Quotes -->
            <th rowspan="1" colspan="1" data-bind="click: $parent.NavigateToQuote">
                <span data-bind="text: $index"></span>: <span data-bind="text: COBId"></span>
            </th>
            <!-- /ko -->
            <!-- /ko -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Limit</b></td>
            <!-- ko foreach: Model.Options -->
            <!-- ko foreach: CurrentVersion().Quotes -->
            <td>
                <span data-bind="text: LimitCCY"></span>
                <span data-bind="auto-numeric: { data: LimitAmount }"></span>
            </td>
            <!-- /ko -->
            <!-- /ko -->
        </tr>
        <tr>
            <td><b>Excess</b></td>
            <!-- ko foreach: Model.Options -->
            <!-- ko foreach: CurrentVersion().Quotes -->
            <td>
                <span data-bind="text: ExcessCCY"></span>
                <span data-bind="auto-numeric: { data: ExcessAmount }"></span>
            </td>
            <!-- /ko -->
            <!-- /ko -->
        </tr>
        <tr>
            <td><b>Quoted Premium</b></td>
            <!-- ko foreach: Model.Options -->
            <!-- ko foreach: CurrentVersion().Quotes -->
            <td>
                <span data-bind="text: Currency"></span>
                <span data-bind="auto-numeric: { data: QuotedPremium }"></span>
            </td>
            <!-- /ko -->
            <!-- /ko -->
        </tr>
    </tbody>
</table>
