<div class="row-fluid">
            <div class="span12">
                <div class="form-actions">
                    <span>
                        @* TODO: Implement reset functionality
						<button type="button" class="btn btn-small" data-bind="click: Reset">Reset</button>
					*@
                        <button type="button" class="btn btn-small" data-bind="click: Cancel">Cancel</button>
                        @if (User.IsInRole("ConsoleUW"))
                        {
                            <button type="button" class="btn btn-small btn-primary" data-bind="click: Save, enable: !IsSavingOrReadonly()">
                                Save <i class="val-loading-icon hide" data-bind="visible: IsSaving"></i>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-small btn-primary" data-bind="click: Save, enable: false">
                                Save <i class="val-loading-icon hide" data-bind="visible: IsSaving"></i>
                            </button>
                        }
                        
                        <!-- ko if: (TeamQuoteTemplatesList().length === 1) -->
                        
                        <button type="button" class="btn btn-small" data-bind="click: QuoteSheetCreationCheck, enable: (CanCreateQuoteSheet() && !IsReadOnly())"
                                title="Will be disabled until all Quotes have a Subscribe reference">
                            Quote Sheet <i class="val-loading-icon hide" data-bind="visible: CreatingQuoteSheet"></i>
                        </button>
                        
                        <!-- /ko -->
                        
                        <!-- ko if: (TeamQuoteTemplatesList().length > 1) -->
                        
                        <div class="btn-group">
                            <button class="btn btn-small" type="button" data-bind="enable: (CanCreateQuoteSheet() && !IsReadOnly())"
                                    title="Will be disabled until all Quotes have a Subscribe reference">
                                Quote Sheet
                                <i class="val-loading-icon hide" data-bind="visible: CreatingQuoteSheet"></i>
                            </button>
                            <button class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" data-bind="foreach: TeamQuoteTemplatesList">
                                <li>
                                    <a data-bind="text: Name, click: $parent.QuoteSheetCreationCheck, enable:($parent.CanCreateQuoteSheet() && !$parent.IsReadOnly())"></a>
                                </li>
                            </ul>
                        </div>
                        
                        <!-- /ko -->

                    </span>
                </div>
            </div>
        </div>