<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Validus.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0,   Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <!-- Rolling Log File  -->
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="validus.rolling.log" formatter="Text Formatter" rollFileExistsBehavior="Overwrite" rollInterval="Week" rollSizeKB="400" maxArchivedFiles="5" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EWTasks" value="CC PBQA,CC PBQA Resubmission,CC PBQA Query,CC PBQA Reject,CC PBQA Fail,Pre-Bind CC,Pre-Bind CC Resubmission,Pre-Bind CC Query,Pre-Bind CC Reject,Pre-Bind CC Fail,Pre-Bind CC Failure,Post-Bind CC,Post-Bind CC Resubmission,Post-Bind CC Query,Post-Bind CC Reject,Post-Bind CC Fail,Post-Bind CC Failure,Post-Bind Fail CC Query,Post-Bind Resubmission CC Query" />
    <add key="WebPolicyURL" value="http://webpolicy.talbotdev.com/webpolicy.aspx?policyId=" />
    <add key="WorldCheckURL" value="http://worldcheck.talbotuw.com/Default.aspx" />
    <add key="CMSURL" value="http://intra.talbotdev.com/apps/cms/claimDetails.jsp?bpr=" />
    <add key="ViewflowURL" value="http://k2workspace.talbotdev.com/Workspace/TasklistControl/GetSilverLight.aspx?ViewType=ProcessView&amp;ProcessID=" />
    <add key="WorkflowTasklistNormal" value="http://apps.talbotdev.com/sites/workflow/Pages/NewK2Worklist.aspx?ActivityName=" />
    <add key="WorkflowTasklistCC" value="http://apps.talbotdev.com/sites/workflow/Pages/EWWorklist.aspx?ActivityName=" />
    <add key="UWDmsSearchURL" value="http://dms.talbotdev.com/underwriting/Pages/UnderwritingDMSSearch.aspx?initPolId=" />
    <add key="UWDmsFileDownloadURL" value="http://services.talbotdev.com/FileNetService/DownloadHandler.ashx" />
    <add key="serviceURL" value="http://uksp10webdev01:6262/rest/api/" />
    <add key="helpURL" value="http://teams.talbotdev.com/sites/Agincourt/Documents/Forms/AllItems.aspx" />
    <add key="QuoteSheetReportPath" value="/Underwriting/Console/QuoteSheet" />
    <!--<add key="QuoteSheetReportPath" value="/Validus.Console.Reports/QuoteSheet" />Eugenes Machine-->
  </appSettings>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="Data Source=.;Initial Catalog=Console; Integrated Security=True; MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient" />
    <add name="Validus.Console.Properties.Settings.SubscribeSQL"
      connectionString="Data Source=ukroomdev01;Initial Catalog=Subscribe;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <allow users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="DefaultCacheProfile" duration="86400" varyByParam="none" />
          <add name="NoCacheProfile" noStore="true" duration="0" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <Validus.Console.Properties.Settings>
      <setting name="DomainPrefix" serializeAs="String">
        <value>talbotdev</value>
      </setting>
      <setting name="ServicesHostUrl" serializeAs="String">
        <value>http://uksp10webdev01:6262/</value>
      </setting>
      <setting name="WorkflowServerConnectionString" serializeAs="String">
        <value>Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=UKWFK2DEV02;Port=5252</value>
      </setting>
      <setting name="Validus_Console_SPQueryService_QueryService" serializeAs="String">
        <value>http://spintranet.talbotdev.com/_vti_bin/search.asmx</value>
      </setting>
      <setting name="WorkflowServerManagementConnectionString" serializeAs="String">
        <value>Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=UKWFK2DEV02;Port=5555</value>
      </setting>
      <setting name="Validus_Console_DocumentManagementService_DMSService"
        serializeAs="String">
        <value>http://services.talbotdev.com/FileNetService/DMSService.asmx</value>
      </setting>
      <setting name="Validus_Console_ReportingService_ReportExecutionService"
        serializeAs="String">
        <value>http://ukbirsdev02.globaldev.local:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
      <setting name="Validus_Console_WorldCheckService_WorldCheckService"
        serializeAs="String">
        <value>http://services.talbotdev.com/WorldCheck/WorldCheckService.asmx</value>
      </setting>
      <setting name="Validus_Console_SubscribeSoapService_Subscribe"
        serializeAs="String">
        <value>http://services.talbotdev.com/Subscribe.asmx</value>
      </setting>
      <setting name="SP2013RestUrl" serializeAs="String">
        <value>http://intranet.globaldev.local/sites/searchcenter/_api/search/query?querytext='{0}'&amp;selectproperties='{1}'</value>
      </setting>
      <setting name="SP2013SearchUrl" serializeAs="String">
        <value>http://intranet.globaldev.local/sites/searchcenter</value>
      </setting>
      <setting name="SP2013Properties" serializeAs="String">
        <value>VALBkrCtc,VALBkrCd,VALBpr,VALCcy,VALLdr,VALDescription,VALDol,VALInsdNm,VALLoccLocn,VALPolID,VALSt,VALUwrPsu,VALReserve,VALPaid,HITHIGHLIGHTEDSUMMARY,VALBkrGrpCd,VALBkrNm,VALBkrPsu,VALBkrSeqId,VALAcctgYr,VALCob,VALDivision,VALEntSt,VALIncpDt,VALOrigOff,VALSt,VALContentType,VALInsdId,VALLastYear,VALFirstYear,VALNoOfRisks,VALNoOfLiveRisks,VALNoOfOtherRisks,VALFirstLiveYear,VALLastLiveYear,VALBkrNm,VALLmtAmt,VALExsAmt,VALExpydt</value>
      </setting>
      <setting name="SP2013ContentSourceName" serializeAs="String">
        <value>contentsource</value>
      </setting>
      <setting name="SearchRefinersList" serializeAs="String">
        <value>COB,BkrPsu,UwrPsu</value>
      </setting>
      <setting name="ActivityNameFilterOptions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Binder Missing Docs</string>
            <string>Capita</string>
            <string>Data Entry</string>
            <string>Data Entry QC</string>
            <string>Data Entry Mumbai</string>
            <string>Input Validation</string>
            <string>Peer Review</string>
            <string>Pre-Bind CC</string>
            <string>Post-Bind CC</string>
            <string>Post-Bind CC Fail</string>
            <string>Post-Bind CC Resubmission</string>
            <string>Post-Bind Resubmission CC</string>
            <string>Queries</string>
            <string>Treaty Data Entry</string>
            <string>URO Review</string>
            <string>UTS Data Entry</string>
            <string>UW Review</string>
            <string>Wordings External</string>
            <string>Wordings Internal</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SP2013ContentSources" serializeAs="String">
        <value>Risks#PolicyDetails,Claims#Claims,Insureds#SubscribeInsured,Brokers#SubscribeBroker</value>
      </setting>
    </Validus.Console.Properties.Settings>
  </applicationSettings>
  <dataCacheClient>
    <hosts>            
      <host name="UKIISDEV01.globaldev.local" cachePort="22233" />
      <host name="UKIISDEV02.globaldev.local" cachePort="22233" />
      <!--<host name="localhost" cachePort="22233" />-->
    </hosts>
  <transportProperties connectionBufferSize="201072" maxBufferPoolSize="968435456"
                             maxBufferSize="20000000" maxOutputDelay="2" channelInitializationTimeout="60000"
                             receiveTimeout="600000"/>
  </dataCacheClient>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PolicyServiceSoap" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBindingEndpoint" />
        <binding name="netTcpBindingEndpoint" />
        <binding name="netTcpBindingEndpoint1" />
        <binding name="netTcpBindingEndpoint2" />
        <binding name="netTcpBindingEndpoint3" />
        <binding name="netTcpBindingEndpoint4" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://uksp10appdev01.talbotdev.com:6868/SubscribeServices/PolicyService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBindingEndpoint"
        contract="SubscribeService.IPolicyService" name="NetTcpBindingEndpoint">
        <identity>
          <servicePrincipalName value="SUBS/WEBSERVICES.talbotdev.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webservices.talbotdev.com:6868/WCF/DocumentService.svc"
        binding="netTcpBinding" bindingConfiguration="netTcpBindingEndpoint"
        contract="DocumentService.IDocumentService" name="netTcpBindingEndpoint">
        <identity>
          <servicePrincipalName value="HOST/VALIDUSWCF.talbotdev.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webservices.talbotdev.com:6868/WCF/BrokerService.svc"
        binding="netTcpBinding" bindingConfiguration="netTcpBindingEndpoint1"
        contract="BrokerService.IBrokerService" name="netTcpBindingEndpoint1">
        <identity>
          <servicePrincipalName value="HOST/VALIDUSWCF.talbotdev.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webservices.talbotdev.com:6868/WCF/InsuredService.svc"
        binding="netTcpBinding" bindingConfiguration="netTcpBindingEndpoint2"
        contract="InsuredService.IInsuredService" name="netTcpBindingEndpoint2">
        <identity>
          <servicePrincipalName value="HOST/VALIDUSWCF.talbotdev.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://webservices.talbotdev.com:6868/WCF/VersionService.svc"
        binding="netTcpBinding" bindingConfiguration="netTcpBindingEndpoint3"
        contract="VersionService.IVersionService" name="netTcpBindingEndpoint3">
        <identity>
          <servicePrincipalName value="HOST/VALIDUSWCF.talbotdev.com" />
        </identity>
      </endpoint>
      <endpoint address="http://services.talbotdev.com/WebPolicy/PolicyService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PolicyServiceSoap"
        contract="WebPolicy.PolicyServiceSoap" name="PolicyServiceSoap" />
      <endpoint address="net.tcp://webservices.talbotdev.com:6868/WCF/PolicyService.svc"
        binding="netTcpBinding" bindingConfiguration="netTcpBindingEndpoint4"
        contract="PolicyDataService.IPolicyService" name="netTcpBindingEndpoint4">
        <identity>
          <servicePrincipalName value="HOST/VALIDUSWCF.talbotdev.com" />
        </identity>
      </endpoint>
    </client>
    <!--<behaviors>
      <endpointBehaviors>
        <behavior name="ImpersonationBehavior">
          <clientCredentials>
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>-->
  </system.serviceModel>
</configuration>